<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order History</title>
</head>
<body>
    <% for(let i=0; i<orders.length; i++){%>
        <% let order = orders[i] %>
        <div>
            <a href="/orders/details/<%= i %>">More details</a>
            <p>Receiver Name: <%= order.receiverName%></p>
            <p>Receiver Address: <%= order.toAddress %>, <%= order.toCity %></p>
            <p>Shipping Price: $<%= order.shippingPrice %></p>
            <p>Product: <%= order.productName %></p>
            <p>Shipping date: <%= order.date %></p>
        </div>
    <%}%>
</body>
</html>