<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit order</title>
</head>
<body>
    <form action="/orders?_method=PUT" method="POST">
        <input type="text" placeholder="product Name" name="productName" value="<%= order.productName %>">
        <input type="text" placeholder="Address To" name="toAddress" value="<%= order.toAddress%>">
        <input type="text" placeholder="City To" name="toCity" value="<%= order.toCity %>"> 
        <input type="text" placeholder="Address From" name="fromAddress" value="<%= order.fromAddress %>"><br>
        <label for="fromCountry">Where are you shipping from?</label>
        <select name="fromCountry">
            <option value="Congo" selected>Congo Brazzaville</option>
            <option value="France">France</option>
            <option value="Canada">Canada</option>
            <option value="USA">United States of America</option>
            <option value="China">China</option>
        </select>
        <br>
        <label for="toCountry">Where are you shipping To?</label>
        <select name="toCountry">
            <option value="Congo">Congo Brazzaville</option>
            <option value="France" selected>France</option>
            <option value="Canada">Canada</option>
            <option value="USA">United States of America</option>
            <option value="China">China</option>
        </select>
        <br>
        <input type="text" placeholder="City from" name="fromCity" value="<%= order.fromCity %>">
        <input type="text" placeholder="Weight" name="weight" value="<%= order.weight %>">
        <input type="text" placeholder="Product value" name="productValue" value="<%= order.productValue %>">
        <input type="text" placeholder="Receiver Name" name="receiverName" value="<%= order.receiverName %>">
        <input type="text" placeholder="Receiver Phone Number" name="receiverPhoneNumber"  value="<%= order.receiverPhoneNumber %>" >
        <input type="text" placeholder="Sender Name" name="senderName"  value="<%= order.senderName %>">
        <input type="text" placeholder="Sender Phone Numver" name="senderPhoneNumber"  value="<%= order.senderPhoneNumber %>">
        <p>Shipping method</p><input type="radio" name="shippingType" value="plane" checked>plane
        <input type="radio" name="shippingType" value="ocean">ocean
        <p>Product type</p>
        <input type="radio" name="productType" value="clothes" checked>clothes
        <input type="radio" name="productType" value="ceramics">ceramics
        <input type="radio" name="productType" value="phones">phones <br>
        <button type="submit">submit</button>
    </form>
    <a href="/orders/new">New order</a>
    <a href="/home">home</a>
    <a href="/orders">All orders</a>
</body>
</html>